<ion-content>
  <div class="flex-center">
    
    <div class="logo-area">
      <div class="avatar-ring" [class.scanning]="isPending">
        <img src="assets/logo.jpg" alt="Ultron">
      </div>
      <h1 class="title">ULTRON<span>OS</span></h1>
    </div>

    <div class="ultron-card login-box">
      <div class="input-group">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" [(ngModel)]="credentials.username" placeholder="OPERADOR" [disabled]="isPending">
      </div>

      <div class="input-group">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" [(ngModel)]="credentials.password" placeholder="SENHA" [disabled]="isPending">
      </div>

      <button class="btn-action" (click)="fazerLogin()" [disabled]="isPending">
        {{ isPending ? 'PROCESSANDO...' : 'AUTENTICAR' }}
      </button>
    </div>

  </div>

  <ion-toast 
    [isOpen]="showToast" 
    [message]="toastMessage" 
    [duration]="3000" 
    (didDismiss)="showToast = false"
    position="bottom"
    class="ultron-toast">
  </ion-toast>
</ion-content>